//Browser default text size
$browser-context: 16;

//Transitions
$transition-short: 0.2s;
$transition-medium: 0.4s;
$transition-long: 0.8s;

//Fixed heights
$menu-height-mobile: 70px;
$menu-height-desktop: 168px;
